.sidenav {
  height: 100%;
  width: 18%;
  z-index: 1;
  background-color: black;
  position: absolute;
}
.sidenav a {
  padding: 8% 8% 1%;
  text-decoration: none;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.dashBoardHead{
  color: white;
  font-size: 1.2rem;
}
.navChildComponent{
  width: 80%;
  float: right;
}
.parentDiv{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.navOptions{
  display: flex;
  flex-direction: column;
  word-break: break-word;
}